@import "compass";
@import "_responsive.scss";

$bgcolor: #DDD;
$cnt_bgcolor: #fff;
$main_color: rgb(205,92,92);

html{
  @include responsive("font-size", 13px,
    (
       400px: 14px,
       640px: 14.5px,
       1024px: 15px,
      1440px: 16px
    )
  );
}

*{
    // Pe³na responsywnoœæ obrazków
    img{
        width: 100%;
        height: auto;
    }

    // Przejœcia dla ca³ej strony
    @include transition(all 0.3s ease-in-out);
}

body{
    background-color: #EEE;
}

// Klasy dla top-nav. Zmiana wielkoœci top-bar
    .nav_wrapper{
        background-color: $cnt_bgcolor;
        box-shadow: none;
    }
    .nav_wrapper.add_shadow{
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    }

// Klasy dla zawartoœci strony
    .site-content{
        width: 90vw; /* Change page width */
        margin: auto;
        background-color: $cnt_bgcolor;
        @include translateY(0);
        position: relative;
        z-index: 0;
                
        .row{ 
            padding: 10px 0; 
        }
    }

    .site-content-static{
        @include translateY(-20px);
    }

    .site-titles{
        font-weight: bold;
        font-style: italic;
    }

        .social-media{
            position: absolute; 
            top: 5px; 
            right: 10px; 
            z-index: 5;
        }

        /* mp - main_post */
        .mp-info{ /*Etykieta informacyjna g³ówego wpisu*/
            background-color: $cnt_bgcolor; 
            position: absolute; 
            right: 50px; 
            top: 0; 
            z-index: 2;
        }
        .mp-desc-wrapper{
            position: absolute; 
            bottom: 0; 
            z-index: 1;
            right: 0; background-color: rgba(255, 255, 255, 0.8);
            padding: 0 1.8rem;
        }

        /* op - other-posts */
        .op-wrapper{
            overflow: hidden;
            .op-category{
                color: $main_color; 
                transform: translateX(-5px);
            }
            .op-title{
            }
            .op-desc-wrapper{
                cursor:pointer;
                position:relative;
            }
            .op-desc-to-show{
                opacity: 0; 
                position: absolute; 
                bottom: 0; 
                left: 0; 
                background-color: $cnt_bgcolor; 
                z-index: 5;
            }
            .op-desc-trigger:hover + .op-desc-to-show, .op-desc-to-show:hover{
                /* Po najechaniu na op-desc-trigger zmieniaj¹ siê w³aœciwoœci op-desc-to-show */
                opacity: 0.9;
            }
            .op-desc{
                padding: 10px 20px;
            }
            .op-rating{
                color: $main_color; 
                margin-top: 3px;
            }
        }

        .comment-wrapper{
            .cm-title{
                padding-bottom: 5px;
                padding-right: 5px; 
            }
            .cm-description{
                margin-bottom: 0; 
                margin-left: 10px;
                padding-top: 15px; 
                border-top-style: solid; 
                border-top-width: 1px; 
                border-top-color: $bgcolor; 
                font-size: 0.8rem; 
            }
            .cm-author{
                font-weight: bold; 
                margin-bottom: 0; 
                color: $main_color;
            }
        }
    
    .battle-wrapper{
        background: $cnt_bgcolor; 
        width: 100%; 
        height: 90vh; 
        transform: translateY(-40px); 
        margin: 0; 
        padding: 0; 
        position: relative; 
        z-index: -1;

        .bt-desc{
            position: absolute; 
            top: 40px; 
            z-index: 2; 
            background-color: rgba(255, 255, 255, 0.6); 
            text-align: center; 
            line-height: 2rem; 
            border-radius: 10px;

            table{
                width: 100%; 
                margin-top: 10px;
            }

            .ingredients{
                color: rgba(0, 0, 0, 0.6);
                font-style: italic;
            }
        }
        .opponent{
            position: relative; 
            float: left; 
            width: 50%; 
            height: 95vh; 
            background-position: center; 
            background-size: cover;
            
            .opp-trigger{
                width: 100%; 
                height: 100%; 
                position: relative; 
                z-index: 1;
                border:none;
                background-color:rgba(255,255,255,0.3);
                cursor:pointer;
            }
            .opp-desc{
                width: 50%; 
                height: 100%;
                position: absolute; 
                top:0; 
                z-index: 0;
                 
                opacity:0;
                text-align: justify; 
                padding: 10vh 20px; 
                line-height: 2rem; 
                background-color: rgba(255, 255, 255, 0.5); 
                border-radius: 5px; 
                .opp-title{
                    text-transform: uppercase; 
                    font-weight: 100; 
                    text-align: left;
                }
            }
            .opp-trigger:hover + .opp-desc, .opp-desc:hover {
                opacity:1;
            }
            .opp-trigger:hover{
                background-color:rgba(255,255,255,0);
            }
        }
    }

// Zmiana koloru placeholder
    input[type="text"] {
      @include input-placeholder {
        color: rgba(0,0,0,0.8);
      }
    } 
    
// Klasy dla stopki
    
    .footer{
        transform: translateY(-30px);

        .link-wrapper{
            padding-right: 0;
            ul{ list-style-type: none; }
            a{
                color: #222;
                &:hover{color: $main_color};
            }
            .ft-title{
                color: $main_color; 
                transform: translateX(-10px); 
                font-weight: bold;
            }
        }

        .ft-about{
            .ab-title{
                font-weight: 400; 
                text-transform: uppercase; 
                padding-bottom: 10px; 
                border-bottom-style: solid; 
                border-bottom-width: 2px; 
                border-bottom-color: #BBB;
            }
            .ab-desc{
                //font-size: 0.9rem;
            }
        }
    }

    